@font-face{
    src: url("../font/Market_Deco.ttf") format('truetype');
    
    font-family: 'Market_Deco';
}

div, p, input, button, form, span, a, ul, li{
    box-sizing: border-box;	
}

p,body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
} 

h1, h2{
    font-family: 'Market_Deco', sans-serif;
    font-size: 50px;
}

.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: block;

}

.btn{
    padding: 1rem 2.2rem;
    background-color: #fff;
    border-radius: .5rem;    
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;    
    font-weight: 500;    
    cursor: pointer;
    border: solid #16133E;
    border-width: 2px 2px;
    outline: none;
    margin-left: 1.05rem;
    transition:background .3s linear, color .3s linear ;
}

.btn:hover{
    background: #16133E;
    color: #fff;    
}

.btn.btn__secondary{
    background-color: #16133E;
    color: #ffffff;    
}

.btn.btn__secondary:hover{
    background-color: #948cff;
    color: #ffffff;
    border: 2px solid #948cff;
}

.btn.btn__tertiary{
    border: 2px solid #007FFC;
    background-color: #007FFC;
    color: #fff;
}

.btn.btn__tertiary:hover{
    background-color: #95c5f5;
    border-color: #9fccf8;
}

.btn.btn__primary{
    color: #007FFC;
    background-color: #fff;
    border: 2px solid #007FFC;
    margin-left: 2.6rem;
}

.btn.btn__primary:hover{
    background: #007FFC;
    color: #fff;
}


.btn__second{
    color: #16133E;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    padding: 1.05rem 3.2rem;
    border: 2px solid #16133E;
    border-radius: 1.43rem;
    transition: color .2s linear,  background-color .2s linear ;
}

.btn__second:hover{
    background-color: #16133E;
    color: #fff;
}

.btn__second.btn__secondary{
    background-color: #16133E;
    color: #fff;
}

.btn__second.btn__secondary:hover{
    background-color: #6760c5;
}

.btn__second.btn__primary{
    color: #000;
    background-color: #fff;
    border: 2px solid #fff;
    margin-right: 0.95rem;
}

.btn__second.btn__primary:hover{
    background-color: transparent;
    color: #fff;
}

.btn__second.btn__tertiary{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.btn__second.btn__tertiary:hover{
    background-color: #fff;
    color: #000;
}