.footer{
    margin-top: 150px;
    background: #16143D; 
}

.wrapper__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 90px 20px 0px;
    margin: 0 auto;
}



.footer__logo{    
    flex-grow: 1;
    min-width: 300px;
}

.footer__wrapper__list{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 240px;
}

.footer__text{
    width: 280px;
    margin: 28px 0 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400; 
    line-height: 1.75rem;
    color: #fff;
}

.footer__social{    
    position: absolute;
    display: flex;
}



.footer__social ul{    
    padding: 0;
    list-style-type: none;
}


.footer__social li{
    margin-right: 9px;
    cursor: pointer;
    transition: transform .2s linear;
}

.footer__social li:visited{
    color: rgb(248, 73, 73);
}

.footer__social li:hover{
    transform: translateY(-3px);
}

.title__subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.4rem;
    letter-spacing: 2px;
    margin-bottom: 38px;
}

.footer__item{
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    letter-spacing: 1.8px;
    color: #fff;
    text-decoration: none;
    font-weight: 400; 
}


.footer__item:visited, 
.footer__item:hover, 
.footer__item:active{
    color: #f87979;    
}

.footer__list{
    flex-grow: 1;
    flex-basis: 20%;
}

.footer__list ul {
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

.slogan{
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 1.3rem;
}

.footer__email{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-decoration: none;
    line-height: 1.4rem;
}

.footer__image{
    display: flex;
}

.footer__image ul{
    margin-right: 20px;
}

.copyright{
    margin-top: 146px;
    text-align: center;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding-bottom: 76px;
}

@media(max-width: 768px){
    
    .footer__text{
        font-size: 0.8rem;
    }
}