.header{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    position: relative;    
}

.wrapper__header{   
    display: flex;   
    justify-content: space-between;
    margin-top: 22px;
    padding-bottom: 40px;
    border-bottom: 1px solid #D8D8D8;    
}

.logo__img{
    margin-right: 16px;
}

.logo__header{
    display: flex;   
    align-items: center;  
    flex-grow: 2;  
    padding-left: 10px;
}

.burger__menu__wrapper{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.nav{
    display: flex;
    flex-wrap: wrap;   
    flex-basis: 400px; 
    
}

.header__btn{
    display: flex;   
    align-items: center;
    justify-content: center;    
}

.burger__menu{
    position: relative;    
    
    display: none;
    outline: none;
    width: 28px;
    height: 3px;
    background: #000;
    justify-content: center;
    align-items: center;
    text-align: center;   
    cursor: pointer;  
    overflow: visible;   
    
    margin: auto 0;
    margin-right: 10px;
    border: 0;
    padding: 0;
}

.burger__menu::before, 
.burger__menu::after{
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    width: 28px;
    height: 3px;
    background: #000;
}

.burger__menu::before{
    transform: translateY(7px);
}

.burger__menu::after{
    transform: translateY(-9px);
}

.burger__menu.active{
    background: none;   
}

.burger__menu.active::before{
    transform: rotate(45deg);
}
.burger__menu.active::after{
    transform: rotate(-45deg);
}

.nav__item{
    list-style-type: none;
}

.nav__header{
    padding: 0;
    margin-right: 65px;   
}

.nav__header:last-child{
    margin-right: 0;
}

.nav__link{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}

.nav__link:visited{
    color: #43fe;
}

.nav__link:hover{
    border-bottom: 1px solid #6c68ad;
    color: #6c68ad;
}

.nav__link:active{
    color: blueviolet;
}




@media(max-width: 768px){

    .burger__menu__wrapper{
        position: absolute;
        right: 0;
        top: 30px;
        display: none;
        width: 100%;
        padding-bottom: 30px;
        
        background-color: #ffffff;
        
        box-shadow: #000;
        box-shadow: 0px 6px 2px rgba(0,0,0,0.33);
    }

    .burger__menu__wrapper.active{    
        display: block;        
    }

    .nav__header{
        margin-right: 0;
        border-width: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid #000;
        
    }

    .nav__header:last-child{
        margin-right: 0;
    }

    .nav{
       display: block; 
       text-align: center;
}

    .header__btn{
        display: flex;

        
    }

    .header__btn .btn {
        width: 25%;
    }


    .burger__menu{
        display: flex;
    }
}

@media(max-width: 480px){
    .header__btn .btn{
        width: 30%;
    }

    .service{
        margin-top: 60px;
    }

    .features{
        margin-top: 100px;
    }

    .price{
        margin-top: 100px;
    }

    .ada{
        margin-top: 100px;
    }

    .information__item{
        width: 70%;
    }

    .information__message{
        width: 67%;
    }

    .information__checkbox{
        width: 70%;
    }

    .footer{
        margin-top: 60px;
    }

    .copyright{
        padding-bottom: 40px;
    }
}

