.header{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.wrapper__header{   
    display: flex;   
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #D8D8D8;    
}

.logo__img{
    margin-right: 1rem;
}

.logo__header{
    display: flex;   
    align-items: center;    
}

.nav{
    display: flex;
}

.header__btn{
    display: flex;   
    align-items: center;
    justify-content: center;    
}

.nav__item{
    list-style-type: none;
}
.nav__header{
    padding: 0;
    margin-left: 4.1rem;
}
.nav__header:first-child{
    margin-left: 0;
}

.nav__link{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 1.05rem;
    font-weight: 500;
}

.nav__link:visited{
    color: #43fe;
}

.nav__link:hover{
    border-bottom: 1px solid #6c68ad;
    color: #6c68ad;
}

.nav__link:active{
    color: blueviolet;
}



