.banner__inner{
    margin-top: 3.2rem;
    justify-content: space-between;
    display: flex;
}
.wrapper__rigth{
    width: 40%;
}

.banner__title{    
    font-weight: 600;
    line-height: 4.25rem;
    font-size: 3.5rem;
    color: #16133E;
    margin: 0 0 1.5rem;
}

.banner__text{
    font-family: 'Roboto', sans-serif;
    line-height: 2.5rem;
    font-size: 1.1rem;    
    margin-bottom: 2.2rem;  
    color: #183B56;
}

.bnt__banner__inner{
    display: flex;
    width: 100%;
}

.service{
    margin-top: 7.56rem;
}

.service__text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #87A1B6;
    font-weight: 400;    
}

.service__title{    
    font-weight: 600;
    font-size: 40px;
    color: #16133E;
    margin:1.6rem 0 1.2rem;
}

.service__text1{
    font-family: 'Roboto', sans-serif;
    color: #5A7184;
    font-size: 1.12rem;    
}

.service__list{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}



.service__item{
    list-style-type: none;    
    width: 28.33333%;
    height: 100%;
    border: 2px solid #E5EAF4;
    border-radius: .5rem;
    padding-left: 0;
}

.service__item:last-child{
    margin-right: 0;
}

.service__inner{
    margin: 2.62rem 2.81rem 1.56rem 2.62rem;
}
.service__icon{
    border: 1px solid #E8F0FB;
    border-radius: 1rem;
    width: 62px;
    height: 66px; 
     
}

.service__img{
    display: block;   
    margin: .93rem auto 0;
}

.list__title{
    font-family: 'Roboto', sans-serif;
    color: #16133E;
    font-size: 1.5rem;
    margin: 2.5rem 0 .5rem;
}

.list__text{
    font-family: 'Roboto', sans-serif;
    color: #16133E;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1.12rem;
}

.list__subtext{
    font-family: 'Roboto', sans-serif;
    color: #16133E;
    font-size: 1rem;
}

.features{
    margin-top: 12.87rem;
}

.features
.service__text1{
    margin-bottom: 7.5rem; 
}

.features__inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features__item{  
    margin-bottom: 2.3rem; 
    position: relative;
}

.feature__text{
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 2;
   font-size: 2.25rem;   
   color: #fff;
   font-family: 'Roboto', sans-serif;
   margin:0 1.37rem 2.75rem 2.8rem;   
}

.price{
    margin-top: 10rem;
}

.price
.service__text1{
    margin-bottom:7rem ;
}

.price__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    width: 100%;    
}


.price__item{
    width: 30.33333%;
    padding: 0;    
    list-style-type: none;
    text-align: center;    
}

.price__item__blue{
    border-width: 60px;
    border-top: 4px solid #0593FA ;
}

.price__item__green{
    border-top: 4px solid #56CBAE ;
}

.price__item__red{
    border-top: 4px solid #FA6770 ;
}

.price__col{
    margin: 3.1rem 4.8rem 2.8rem;
}

.price__subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2.7rem;
}

.price__title{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.price__title__blue{
    color: #0593FA;
}

.price__title__green{
    color: #56CBAE;
}

.price__title__red{
    color: #FA6770;
}

.price__text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #87A1B6;
    margin-bottom: 2.8rem;
}

.price__subtext{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #87A1B6;
    margin-bottom: 3.375rem;
}

.ada{
    margin-top: 12.3rem;    
}

.ada__inner{
    position: relative;
}

.ada__img{
    position: relative;
    width: 100%;
    height: 100%;
}

.ada__item{
    position: absolute;  
    text-align: center;
    top: 100px;
    margin: 0 15rem 0 15.3rem;
}

.ada__title{    
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2rem;
}

.ada__text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.12rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 2.87rem;
}


.information{
    display: block;
    margin-top: 8.18rem;
    text-align: center;
    width: 100%;
}

.form__title{    
    font-size: 2.5rem;
    margin-bottom: 2.62rem;
    letter-spacing: 0.82px;
}

.information__item{
    width: 50%;
    padding: 1.43rem 0 .625rem .75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    outline: none;
    margin-bottom: 1.3rem;    
}

.information__item:required:focus{
    border: 1px solid #007FFC;
}

.information__item:disabled,
.information__item:disabled::placeholder{
    background-color: rgb(206, 206, 206);
    color: #fff;
}

.information__message{
    width: 48.8%;
    height: 166px;
    padding: .75rem 0 0 .75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    resize: none;
    margin-bottom: 1.93rem;
}

.information__checkbox{    
    text-align: left;
    width: 50%;    
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

.information__checkbox label{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;     
}

.information__btn{
    width: 50%;
    height: 50px;
    margin: 1.43rem 0 .875rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400; 
    color: #fff;
    background: #007CFC;
    border: 1px solid #007CFC;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.information__text{
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    font-weight: 400; 
}

.information__link{
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    font-weight: 400; 
    color: #1C70EF;
}

.information__link:visited{
    color: #ff0000;
}
.information__link:hover{
    color: rgb(0, 255, 85);
}

.information__link:active{
    color: brown;
}
